.container{
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
}

.field-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.form-actions{
    display: flex;
    gap: 1em;
}

.field{
    display: grid;
    grid-template-columns: 1fr 7fr;
    gap : 1em;
}