.container{
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.header{
    display: flex;
    justify-content: space-evenly;
}

.field-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.field{
    display: grid;
    grid-template-columns: 1fr 7fr;
    gap : 1em;
}