.container {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.application-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.application-field {
    display: flex;
    gap: 1em;
    justify-content: center;
}

.application-link {
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

.application-link-index {
    align-self: self-start;
}

.page-count{
    display: flex;
    gap:0.5em;
    justify-content: center;
    align-items: center;
}

.display-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.filters{
    display: flex;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
}

.status-filter{
    display: flex;
    gap: 0.5em;
    align-items: center;
}