.container{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.application-list{
    display: flex;
    flex-direction: column;
    gap: 1em;
}